<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened" (opened)="log('Opened')" (closed)="log('Closed')">
    <div class="profile">
      <img src="assets/img/profile.jpg"/>
      <h1>Aliudin Amer Macalawi</h1>
    </div>
    <mat-nav-list>
      <a (click)="sidenav.close(); goTo('dashboard');" mat-list-item>
        <i class="flaticon-dashboard"></i> Dashboard
      </a>
      <h4 class="text-divider">
        Components
      </h4>
      <a (click)="sidenav.close(); goTo('pos')" mat-list-item>
        <i class="flaticon-share"></i> Point Of Sales
      </a>
      <a (click)="goTo('reports')" mat-list-item>
        <i class="flaticon-line-graph"></i> Reports
      </a>
      <a (click)="goTo('products')" mat-list-item>
        <i class="flaticon-edit"></i> Products
      </a>
      <h4 class="text-divider">
        Settings
      </h4>
        <a (click)="goTo('accounts')" mat-list-item>
      <i class="flaticon-settings"></i> Account
      </a>
      <a (click)="goTo('signout')" mat-list-item>
        <i class="flaticon-logout"></i> Signout
      </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="layer">
                            <button mat-icon-button (click)="opened=!opened">
                                <i class="flaticon-signs"></i>
                            </button>
                            My Application
                            
                            <div class="pull-right">
                              <i class="flaticon-search mr-4"></i>
                              <i class="flaticon-squares-4 mr-4"></i>
                              <button mat-button [matMenuTriggerFor]="menu">All</button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>Category 1</button>
                                <button mat-menu-item>Category 2</button>
                              </mat-menu>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="layer">
                            <span class="items">
                            7 Items
                            </span>
                            <div class="pull-right">
                                <a (click)="opened=!opened" class="font-2">
                                    <i class="la la-trash"></i>
                                </a>
                                <a (click)="opened=!opened">
                                    <i class="flaticon-more"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>