<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened" (opened)="log('Opened')" (closed)="log('Closed')">
		<div class="profile">
			<img src="assets/img/profile.jpg"/>
			<h1>Aliudin Amer Macalawi</h1>
		</div>
		<mat-nav-list>
			<a (click)="sidenav.close(); goTo('dashboard');" mat-list-item>
				<i class="flaticon-dashboard"></i> Dashboard
			</a>
			<h4 class="text-divider">
				Components
			</h4>
			<a (click)="sidenav.close(); goTo('pos')" mat-list-item>
				<i class="flaticon-share"></i> Point Of Sales
			</a>
			<a (click)="goTo('reports')" mat-list-item>
				<i class="flaticon-line-graph"></i> Reports
			</a>
			<a (click)="goTo('products')" mat-list-item>
				<i class="flaticon-edit"></i> Products
			</a>
			<h4 class="text-divider">
				Settings
			</h4>
				<a (click)="goTo('accounts')" mat-list-item>
			<i class="flaticon-settings"></i> Account
			</a>
			<a (click)="goTo('signout')" mat-list-item>
				<i class="flaticon-logout"></i> Signout
			</a>
    	</mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="theme-search md-whiteframe-1dp" [ngClass]="{ 'active' : searchbar }">
            <input type="text" class="theme-search-input" placeholder="Search for keywords ...">
        </div>
        <mat-toolbar color="primary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="layer">
                            <button mat-icon-button (click)="opened=!opened">
                                <i class="flaticon-signs"></i>
                            </button>
                            My Application
                            
                            <div class="pull-right">
								<button mat-button (click)="toggleClass(searchbar = !searchbar)">
									<i class="flaticon-search"></i>
								</button>
								<button mat-button>
									<i class="flaticon-squares-4"></i>
								</button>
								
								<button mat-button [matMenuTriggerFor]="menu">All</button>
								<mat-menu #menu="matMenu">
									<button mat-menu-item>Category 1</button>
									<button mat-menu-item>Category 2</button>
								</mat-menu>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="layer">
                            <span class="items">
                            7 Items
                            </span>
                            <div class="pull-right">

                               <!--  <button mat-icon-button class="font-2">
                                    <i class="la la-trash"></i>
                                </button> -->
                                <button mat-icon-button>
									<i class="flaticon-more"></i>
								</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <div class="content">
	        <div class="container-fluid">
	        	<div class="col-sm-12">
		        	<div class="row">
		                <div class="col-sm-9 p-r-0">
		                	<mat-card>
		                		<div class="product-list">
			                		<div class="row">
			                			<div *ngFor="let product of products of filterBy('name')" class="col-sm-fix">
			                				<a href="javascript:;" (click)="openDialog(product.name, product.price, 1, product.price)">
				                				<div class="wrapper">
					                				<div class="img-wrapper">
					                					<img src="{{ product.image }}" />
					                				</div>
					                				<div class="txt-wrapper">
					                					<h3>{{ product.name }}
					                					</h3>
					                					<label>₱{{ product.price.toFixed(2) }}</label>
					                					<span class="pull-right badges {{ product.color }}"></span>
					                				</div>
					                			</div>
					                		</a>
			                			</div>
				                	</div>
				                </div>
		                	</mat-card>
		                </div>
		                <div class="col-sm-3">
		                	<mat-card>
		                		<mat-nav-list>
		                			<a *ngFor="let item of items" mat-list-item>
										<table class="table">
											<tbody>
												<tr>
													<td>
														<strong class="item-qty">{{ item.quantity }}</strong>
													</td>
													<td width="60%" class="p-l-10 p-r-10">
														<strong class="item-name">{{ item.name }}</strong>
														<br/>
														<span class="item-price">₱{{ item.price.toFixed(2) }}</span>
													</td>
													<td width="30%" class="text-right">
														<strong class="item-total">₱{{ item.total.toFixed(2) }}</strong>
													</td>
												</tr>
											</tbody>
										</table>
									</a>
								</mat-nav-list>
		                	</mat-card>
		                </div>
		            </div>     
	            </div>           
	        </div>
	    </div>
    </mat-sidenav-content>
</mat-sidenav-container>